

body{
  max-width:  auto;
  background-color: rgb(255, 255, 255);
  height: auto;
  font-family: "Hoefler";
}
  .brand {
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;
    text-align: center;
    right: 50px;
    left: 0;
    top: 48px;
    font-size: 60px;
    font-family: "Hoefler";
    text-decoration: none;
  
  
  }
  .top {
    color: black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    padding: 25px;
    z-index: 9999; 
    padding-bottom: 15px;
  }
  
.con {
  z-index: 1; 
  background-color: white;
  border-radius: 18px;
  padding-inline: 10px;
  color: rgb(0, 0, 0);

  font-family: "Hoefler";  position: fixed;
  text-decoration: none;
  font-size: 20px;
  top: 15px;
  left: 25px;
  transition: .35s;
  cursor:pointer;
  margin-left: 50px;
  margin-right: 50px;
}




.con:hover{
  opacity: 1;
  color: rgb(0, 0, 0);
  background-color: rgb(242, 175, 248);
  transform: translateY(-2px);
}

.home{
  background-color: white;
  border-radius: 18px;
  padding-inline: 10px;
  color: rgb(0, 0, 0);
  font-family: "Hoefler";
  position: fixed;
  text-decoration: none;
  font-size: 20px;
  top: 15px;
  left: 250px;
  transition: .35s;
  cursor:pointer;
}

.home:hover{
  opacity: 1;
  color: rgb(0, 0, 0);
  background-color: rgb(242, 175, 248);
  transform: translateY(-2px);
}

.shop {
  
  margin-left: 50px;
  margin-right: 50px;
  z-index: 1;
  background-color: white;
  border-radius: 18px;
  padding-inline: 10px;
  color: black;
  font-family: "Hoefler";
  text-decoration: none;
  text-align: right;
  font-size: 20px;
  top: 15px;
  position: fixed;
  right: 5%;
  transition: .35s;
  cursor: pointer;
}

.shop:hover{
  opacity: 1;
  color: rgb(0, 0, 0);
  background-color: rgb(242, 175, 248);
  transform: translateY(-2px);
}

.searchbar{
  z-index: 99999;
  padding: 5px;
  font-size: 16px; 
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  border-radius: 20px;
  position: fixed ;
  top: 90px;
  width :  150px;
  left: 20px;
  transform: .35s;
  cursor: pointer;
  margin-left: 50px;
  margin-right: 50px;

}
.searchbar:hover{
  opacity: 1;
  background-color:  rgb(242, 175, 248);
  transform: translateY(-5px);
}

.signin {
   
  margin-left: 50px;
  margin-right: 50px;
  background-color: #ffffff;
  z-index: 99999;
  display: inline-block;
  position: fixed;
  right: 5%;
  top: 62px;
  border-radius: 18px;
  width: 90px;
  border: 1px solid black;
  padding: 0;
  color: black;
  font-family: "Hoefler";
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  transition: .35s;
  cursor: pointer;
    
}
.signin:hover{
  opacity: 1;
  color: rgb(0, 0, 0);
  background-color:  rgb(242, 175, 248);
  transform: translateY(-2px);
}
.signup{
  
      margin-left: 50px;
    margin-right: 50px;
    background-color: #ffffff;
    z-index: 99999;
    display: inline;
    right : 15%;
    border-radius: 18px ;
    width : 90px;
    border: 1px solid black ;
    padding: 0;
    color: black;
    position: fixed ;
    font-family: "Hoefler";
    text-decoration: none;
    top: 0;
    font-size: 18px;
    top: 62px;
    text-align : center ;

    transition: .35s;
    cursor: pointer;
} 

.signup:hover{
  opacity: 1;
  color: rgb(0, 0, 0);
  background-color: rgb(242, 175, 248);
  transform: translateY(-2px);
}
  .branding {

  margin: auto;
  display: flex ;
  position: absolute ;
  background-image: url(wall.jpg);
  background-position: center;
  background-size: cover;
  width: 75%;
  height: 150px;
  left : 0;
  right :0;
  top: 190px; 
  padding: 150px;
  padding-bottom: 50px;

}
.qoute{
  left :  0;
  right : 0;
  position : absolute ;
  top: 40px;
  font-size: 30px ;
}
.qoute2{
  text-align: center;
  left : 0;
  right :0;
  position : absolute ;
  top: 70px;
  font-size: 30px ;
}
.qoute,.qoute2{
  text-shadow: 3px 2px hsl(0, 3%, 8%);
  color: #f881f2;
  text-align: center;
}
  .newitem{
    position: relative;
     top: 500px;
    
  }
  .newthisweek{
    position: relative;
    top: 410px;
    bottom: 0%;
    text-align: center;
    font-size:  30px;
    text-decoration-line: underline;
    font-family: "Helvetica Neue", sans-serif;
    transform: skew(-10deg);
   
  }
  
.container1{
    top: 500px;
    display: flex;
    align-items: center ;
    background-color: white;
    height: wrap-item;
    width: 100% ;
    height: 700px;
    margin-left: 50px;
    margin-right: 50px;
    
  } 
  
  .container1:hover >:not(:hover){
    opacity: 1;
    transform: scale(0.9);
    
  }

.item1 img{
     border-radius: 20px;
     position : relative;
      left : 15px;
      right :0;
      width: 50%;
      top: 0;
      bottom :0;
      margin: 0 auto;
      transition: .35s;
      cursor: pointer;
      image-resolution:inherit ;
      height: auto;
      box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.689), 0 6px 20px 0 rgba(255, 255, 255, 0.749);
    
  
}
.item2 img,.item3 img{
    border-radius: 20px;
    position: relative;
    transition: .35s;
    cursor: pointer;
    width: 150px;
    left: -350px;
    justify-content: space-between;
    top:-150px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.689), 0 6px 20px 0 rgba(255, 255, 255, 0.749);
  


}
.item3{
  
  position: relative;
    right: -200px;
    left: 100px;
    margin: 0;
}

.details{
  border: 1px solid black;
    position: inherit;
    margin:0 auto;
    width: 50%;
    display:inline;
    float: right;
    right: 60px;
    top: -310px;
    bottom: o;
    height: 160px;
    color:#000000 ;
    background-color: #F9F9F9;
    border-radius: 20px;  
   
  }
  .details:hover{
    opacity: 1;
    transform: scale(1.1);
  }
  ul li{
    list-style-type: none;
  }
.price{
    position: relative;
    left: 50px;
    
}

.wew{ 
  height: 900px;
  

}
hr{
  width: 100%;
}

.buynav{
  color: #ffffff;
  top:-230px;
  display: flex;
  float: right;
  position: relative;
  margin: auto;
  right: -30%;
  background-color: #000000;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

}
.buynav:hover{
  opacity: 1;
  transform: scale(1.1);
    
}
.buynav a {
  color:white;
  text-decoration: none;
    top: 600px;
    bottom: 100px;
    margin: 0 auto;
    right: -340px;
  
    }
    
.back{
  color: #ffffff;
  top:-230px;
  display: flex;
  float: right;
  position: relative;
  margin: auto;
  right: -50%;
  background-color: #000000;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;

}
.back:hover{
  opacity: 1;
  transform: scale(1.1);
    
}
.back a {
  color:white;
  text-decoration: none;
    top: 600px;
    bottom: 100px;
    margin: 0 auto;
    right: -340px;
  
    }
.stay{
      display: flex;
      position: relative;
      text-align: center;
      justify-content: center;
      bottom: o;
      text-decoration-line: underline;
      top: 530px;
      margin: auto;
      float:right;
      left: 300px;
    }
.parag{
    position: relative;
      text-align: center;
      justify-content: center;
      bottom: o;
      top: 570px;
      margin: auto;
      float:right;
      left: 482px;
  
  }
.bordernav{
    position: relative;
    display: flex-inline;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    top: 640px;
    background-color: rgb(0, 0, 0);
    width: 20%;
    height: 40px;
    padding: 10px;
    right: 0;
    border-radius: 15px;
    background-position: relative;
    bottom: 100px;
  }
  
.email{
  
    text-align: center;
    padding-inline: 10px;
    margin: auto;
    position:absolute;
    display: inline-block;
    gap: 100px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    left: -110px;
    right: 0;
    width: 30% ;
    top: 10px;
    background-color: beige;
    background-blend-mode: color;
    padding: 10px;
    border-radius: 10px;
    
  
  }
  .bottomsignup{
    text-align: center;
    margin: auto;
    position: relative; 
    left: 110px;
    right: auto;
    top: -26px;
    color: rgb(255, 255, 255);
    width: 100%;
    text-decoration: none;

  }
  footer {
    background-color: black ;
    color: white ;
    position: fixed;
    bottom: 0;
    font-size: 15px;
    text-align: center;
    width: 100%;
  }
  
.bottom{
  margin-left: 50px;
  font-style: none;
  position: relative;
  font-family: "Hoefler";
    font-size: 20px;
}
.bottom-con{
  color: black;
  display: flex;
  float: right;
  background-color: white;
  border-radius: 18px;
  padding-inline: 10px;
  text-decoration: none;
  font-family: "Hoefler";
  margin-right: 135px;
}

.bottom-con:hover{
  opacity: 1;
  color: rgb(0, 0, 0);
  background-color: rgb(242, 175, 248);
  transform: translateY(-2px);
}
.bottom-shop{
  display: flex;
  float: left;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  background-color: white;
  border-radius: 18px;
  padding-inline: 10px;
  text-decoration: none;
  font-family: "Hoefler";
  margin-left: 40px;
}

.bottom-shop:hover{
  opacity: 1;
  color: rgb(0, 0, 0);
  background-color: rgb(242, 175, 248);
  transform: translateY(-2px);
}
.bottom-home{
  display: flex;
  float: left;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  background-color: white;
  border-radius: 18px;
  padding-inline: 10px;
  text-decoration: none;
  font-family: "Hoefler";
}

.bottom-home:hover{
  opacity: 1;
  color: rgb(0, 0, 0);
  background-color: rgb(242, 175, 248);
  transform: translateY(-2px);
}


 
.dev{
  padding-left: 20px;
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 18px;
  padding-inline: 10px;
  margin-right: 30px ;
  text-decoration: none;
  font-family: "Hoefler";
  float: right;
  
}

.dev:hover{
  opacity: 1;
  color: rgb(0, 0, 0);
  background-color: rgb(242, 175, 248);
  transform: translateY(-2px);
}

footer {
  background-color: black ;
  color: white ;
  position: fixed;
  bottom: 0;
  font-size: 15px;
  width: 100%;
}

.foot-text{
  margin-left: -42%;
}

  
     